<launch>
    <arg name="bag_name" default="realsense_bag" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 0.62 0 0 0 base camera_link" />
    <include file="$(find realsense2_camera)/launch/depth_color_30fps.launch" />
    <node pkg="rosbag" type="record" name="video_rosbag_record" output="screen" args="-O /home/$(env USER)/$(arg bag_name).bag /tf /tf_static /camera/color/image_raw /camera/aligned_depth_to_color/image_raw /camera/aligned_depth_to_color/camera_info" />
</launch>
